.dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  border-radius: 50%;


  &::before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #6C7275;
    border-radius: 50%;
  }

  &--active {
    border: 1px solid #141718;

    &::before {
      background-color: #141718;
    }
  }
}